
#sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: blueviolet;

    padding-top: 20px;
    padding-left: 10px;
    transition: all 0.3s;
    z-index: 1;
    overflow-y: auto;
}

.linko li a{
    text-decoration: none;
    color: white;
    margin: 20px 0px;
}

.linko li:hover{
    background-color: rgb(44, 44, 54);
}

#sidebar.active {
    width: 0px;
}

.settings-icon{
    height: 20px;
    width: 20px;
    margin: 0px 5px;
}

#content.active
{
    margin-left: 0px;
}

.navbar {
    z-index: 2;
}

.input{
    width: 50%;
    border: 2px solid gray;
    margin-right: 10px;
}


#content {
    margin-left: 250px;
    padding: 20px;
    transition: all 0.3s;
}



.card {
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #f8f9fa;

    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
 
}

.table-hover tbody tr:hover {
    background-color: #e2e6ea;

}



.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-check-label {
    flex-grow: 1;
    margin-left: 10px;
}

.btn-danger {
    margin-left: 10px;
}

@media screen and (max-width: 700px) {
    html{
        width: 1000px;
    }
    .ep{
        width: 30%;
    }
    
}